.App {
  text-align: center;
}

.App-logo {
  padding-top: 6vmin;
  height: 19vmin;
  pointer-events: none;
}

.App-title {
  color: black;
}

.pics {
  width: 75%;
  height: auto;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}*/

.App-header {
  background-color: white;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

.secret {
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
